html,
body {
  background-color: #282c34;
  overflow-x: hidden;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(83, 83, 83);
}

::-webkit-scrollbar {
  display: none;
}
